
<div id="enregistrer" class="container text-center">
  <h1> Comment enregistrer son message</h1>
  <p>Vous pouvez enregistrer votre message vidéo à partir de différents périphériques.</p>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#app_photo" class="thumbnail" >Appareil photo ou caméra
             <%= image_tag"photo.png" %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#tablette" class="thumbnail">Tablette ou smartphone
          <%= image_tag"smart_tab.png" %>
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#mac" class="thumbnail">Webcam sous Mac
           <%= image_tag"apple.jpg" %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#windows" class="thumbnail">webcam sous Windows
           <%= image_tag"windows.png" %>
        </a>
      </div>
  </div>
</div>

<div id="explications" class="container" >
  <div class="row">
    <div class="col-xs-12 col-md-12">
    <p id="app_photo"></p>
    <br>
    <h4 >Utiliser un appareil photo ou une caméra</h4>

      <div id="media" class="media">
        <div class="media-left media-middle">
          <img class="media-object"> <%= image_tag"photo.png"%>


        </div>
            <div class="media-body">
            <p>Avec ce type d'appareil, il suffit d'enregistrer son message puis de le transferer sur votre ordinateur
               ou tablette (comme vous le faites pour visualiser vos photos et videos). En fonction du type d'appareil, vous
               pouvez exporter votre fichier via la carte mémoire, par wifi ou bluetooth. Le plus important est de bien choisir
               le dossier de destination afin de retrouver facilement le fichier (par exemple le bureau). Ensuite, rendez-vous
               sur la page "Envoyer mon message" afin de remplir le formulaire et d'y insérer votre fichier.</p>
          </div>
        </div>
        <p id="tablette"></p>
    <br>

    <h4>Utiliser une tablette ou un smartphone</h4>

      <div id="media" class="media">
        <div class="media-left media-middle">
          <img class="media-object"><%= image_tag"app_photo.jpg"%>


        </div>
            <div class="media-body">
              <p>Il est également possible d'enregistrer son message à partir de la webcam de son smartphone ou de sa tablette à
              partir de l'application "photo" de l'appareil. </p>
          </div>
        </div>

      <div id="media" class="media">
        <div class="media-left media-middle">
          <img class="media-object"> <%= image_tag"selfie.png"%>
          </img>
        </div>
          <div class="media-body">
              <p>Passez en mode "selfie"</p>
              <p>Puis en mode vidéo</p>
              <p>Enregistrez votre messge en appuyant sur le bouton   <i class="fas fa-video"></i></p>
              <p>Votre ficier sera sauvegardé avec vos photos et vidéos</p>
              <p>Si vous vous connectez à My Message avec cet appareil, rendez-vous sur la page "Envoyer mon message".
              Sinon, exportez votre fichier sur votre ordinateur. </p>
          </div>
      </div>

<p id="mac"></p>
    <br>

    <h4>Utiliser la webcam de son Mac</h4>

      <div id="media" class="media">
        <div class="media-left media-middle">
          <img class="media-object"> <%= image_tag"booth.png"%>
        </div>
            <div class="media-body">
              <p>1- Dans votre barre de menu (généralement située en bas de votre écran), cliquez sur Photo Booth.</p>
            </div>
      </div>

        <div id="media" class="media">
          <div class="media-left media-middle">
            <img class="media-object"> <%= image_tag"booth2.png"%>
          </img>
          </div>
          <div class="media-body">
          <p>2- Ensuite, en bas à gauche, cliquez sur la 3eme icone afin de passer
            en mode video.</p>
          <p>3- Cliquez sur le bouton rouge afin de declencher l'enregistrement video.</p>
          <p>4- Lorsque vous avez terminé votre message, cliquez sur le bouton stop.</p>
          </div>
        </div>


          <div id="media" class="media">
            <div class="media-left media-middle">
            <img class="media-object"> <%= image_tag"booth3.png"%>
            </div>

            <div class="media-body">
              <p>5- En bas, selectionnez votre video en cliquant dessus puis faites
              un clic droit "exporter..."</p>
              <p>6- Nommez votre fichier avec vos nom et prénom et choisissez un emplacement que vous trouverez
              facilement (par exemple le bureau).</p>
              <p>7- Vous n'avez plus qu'à nous envoyer votre message !</p>
            </div>
          </div>
          <p id="windows"></p>
    <br>
    <h4 >Utiliser la webcam de son pc Windows</h4>

      <div id="media" class="media">
        <div class="media-left media-middle">
          <img class="media-object"> <%= image_tag"windows.png"%>
        </div>
            <div class="media-body">
            <p>Achetez un mac !!!</p>
          </div>
        </div>
      </div>
    </div>
</div>


